.button{
    background: #0071BC;
    border-radius: 5px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $colorW;
    font-weight: 500;
    font-size: 0.7rem;
    line-height: 0.8rem;
    padding: 0px 16px;
    &:active{
        background: #004E82;
    }
    &-cancel{
        background: #989898;
        &:active{
            background: #A6A6A6;
        }
    }
}