.resonance{
    background: rgba(66, 66, 66, 0.8);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    width: 308px;
    height: 196px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    &-header{
        color: #FFFFFF;
        font-weight: 500;
        font-size: 0.8rem;
        line-height: 0.95rem;
        margin-bottom: 12px;
    }
    &-chart{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        .chart-top{
            display: flex;
            &-values{
                display: flex;
                flex-direction: column;
                padding-right: 7px;
                justify-content: flex-end;
                span{
                    display: flex;
                    justify-content: flex-end;
                    margin-bottom: 10px;
                    font-size: 0.6rem;
                    line-height: 0.7rem;
                    font-weight: 500;
                    color: #FFFFFF;
                    // width: 14px;
                    height: 14px;
                    &:last-child{
                        margin-bottom: 6px;
                    }
                }
            }
            &-graph{
                border-bottom: 1px solid rgba(#fff, .25);
                border-left: 1px solid rgba(#fff, .25);
                width: 198px;
                height: 118px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-bottom: 6px;
                position: relative;
                .column{
                    // background-color: #fff;
                    width: 18px;
                    min-width: 18px;
                    height: 107px;
                    border-radius: 50px;
                    margin-left: 35px;
                    display: flex;
                    align-items: flex-end;
                    &:first-child{
                        margin-right: 5px;
                    }
                    &:last-child{
                        margin-right: 33px;
                        margin-left: 42px;
                    }
                    span{
                        border-radius: 50px;
                        width: 100%;
                        background-color: #fff;
                        height: 0%;
                        transition-duration: .2s;
                        background: linear-gradient(179.07deg, #35DA3E -6.25%, #60D278 111.45%);
                        opacity: .75;
                    }
                }
            }
        }
        .chart-bottom{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 6px;
            width: 100%;
            span{
                font-size: 0.6rem;
                line-height: 0.7rem;
                font-weight: 500;
                color: #FFFFFF;
                margin-left: 35px;
                height: 14px;
                // width: 14px;
                &:first-child{
                    margin-left: 30px;
                }
            }
        }
    }
    .apexcharts-bar-series.apexcharts-plot-series  .apexcharts-series path {
        clip-path: inset(0% 0% 0% 0% round 8px);
    }
}