.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 345px;
    svg.logo{
        margin-bottom: 16px;        
    }
    &-header{
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.15rem;
        color: $colorW;
        margin-bottom: 18px;
    }
    &-error{
        padding: 11px 58px;
        background: rgba(66, 66, 66, 0.8);
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        max-width: 100%;
        color: $colorW;
        text-align: center;
        font-size: 0.6rem;
        line-height: 0.7rem;
        margin-bottom: 18px;
        transform: translateY(-10px);
        opacity: 0;
        visibility: hidden;
        transition-duration: .2s;
        min-height: 50px;
        display: flex;
        align-items: center;
        &-active{
            opacity: 1;
            visibility: visible;
            transform: translateY(0px);
        }
    }
    &-reset{
        color: $colorW;
        font-size: 0.6rem;
        line-height: 0.7rem;
        margin-top: 18px;
        margin-bottom: 122px;
    }
    &-register{
        display: flex;
        align-items: center;
        font-size: 0.7rem;
        line-height: 0.8rem;
        color: $colorW;
        span{
            font-family: 'SegoeUI-SemiBold';
            margin-left: 4px;
            color: #0071BC;
            cursor: pointer;
        }
    }
}